.main{
    width: 1560px;
    height: 780px;
    border: 2px solid black;
    border-color: black;
}
.circle img{
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: pc;
    animation-duration: 9s;
    

    
    
}
@keyframes pc{
            
    0%   { top:0px; }
    1%{ transform: rotate(90deg)};
    20%{transform: rotate(90deg)}
    20%  { top:680px;left:0px;}
    20%{transform: rotate(0deg)}
    39%{transform: rotate(0deg)}
    40%  { top:680px;left:740px;}
    40%{transform: rotate(-90deg)}
    60%  { top:0; left:740px;bottom:0px;}
    80%  { left:1460px;top:0px;} 
    100% { left:1460px;top:680px;}
}



